@model ConsoleViewModel; 
@{
    ViewData["Title"] = "Home Page";
}

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="main">
        <div>
            <div>
                <p>
                    <input type="text" id="inputSentiment" style="width:60%" placeholder="Insert here your sentiment" />
                    <button type="button" id="processSentiment" title="Process" style="margin-right:-1%;" action="">Process</button>
                </p>
            </div>
            <div>
                    <textarea placeholder="Result" id="processResult" style="width:70.5%; margin-right:-1%" readonly>
                        @Model.ResponsePrediction
                    </textarea>
            </div>
        </div>
    </div>
    <div>
        <div style="width:100%; margin-top:5%">
            <p>
                <textarea readonly id="consoleArea" placeholder="Insert here your sentiment." rows="15" style="width:100%; height:100%; border-radius:10px; background-color:black; color:aliceblue; text-align:left; font-family:Consolas;">
                    @Model.StringBuilder.ToString()
                </textarea>
            </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#processSentiment").click(function () {
            var processText = $("#inputSentiment").val();
            $.ajax({
                url: "@Url.Action("Privacy", "Home")",
                //data: { "inputSentiment": processText },
                data: { "id": processText },
                success: function (response) {
                    //debugger;
                    $("#processResult").val(response);
                }
            });
        });
    });
</script>